@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./init.css";
@import "./components/loader.css";
@import "./components/header.css";
@import "./components/home.css";

.border_gradient {
  border-image: linear-gradient(0.25turn, #a7acac, #000000, #a7acac);
  border-image-slice: 1;
  border-bottom-color: transparent;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.b-t {
  @apply border-4 border-red-600;
}

@layer components {
  .text-shadow {
    text-shadow: 0 0 1px #00a550;
  }

  .text-shadow-wh {
    text-shadow: 0 0 1px #00a550;
  }
}
