@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./init.css";
@import "./loader.css";
@import "./components/header.css";


.border_gradient {
    border-image: linear-gradient(0.25turn, #a7acac, #000000, #a7acac);
    border-image-slice: 1;
    border-bottom-color: transparent;
}

.testing {
    color: #20968e;
}

.hero-img {
    @apply w-1/3;
    animation: up-down 1.9s ease-in-out infinite alternate-reverse both;
}

.client-img {
    @apply w-auto h-20 py-5 mx-auto transition-all duration-300 grayscale hover:grayscale-0 hover:scale-110;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.b-t {
    @apply border-4 border-red-600;
}

@layer components {
    .text-shadow {
        text-shadow: 0 0 1px #00a550;
    }

    .text-shadow-wh {
        text-shadow: 0 0 1px #00a550;
    }
}
