html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}

body {
  box-shadow: inset 0 0 8px #746d6d80;
}

::selection {
  color: #5c5858;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#939494, #333333, #939494);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #575a59;
}

section {
  @apply px-px;
}
