.negative {
  @apply flex transition items-center justify-center space-x-8 max-md:space-x-0 max-md:space-y-5
    max-md:border-4 max-md:border-x-white max-md:border-y-red-700 rounded-xl max-md:flex-col
    max-md:items-stretch max-md:absolute max-md:top-[85%] max-md:left-[55%]
    max-md:py-5 dark:text-white max-md:hidden max-md:bg-body-light max-md:dark:bg-body-dark z-50 max-lg:text-sm;
}

.nav-link a {
  @apply p-2 font-medium ease-in-out border-white max-md:dark:border-x-white hover:border-y-2 rounded-xl max-md:shadow max-md:rounded max-md:border-x-4 max-md:border-x-gray-900 max-md:inline-block max-md:w-full max-md:px-8 max-md:py-1;
}

.nav-link a.active {
  @apply text-[#ed1d24] border-b border-[#ed1d24];
}


.btn-search {
  @apply p-2.5 hover:scale-125 transition duration-300 ease-out rounded-xl dark:text-white;
}

.btn-auth {
  @apply p-2.5 hover:scale-125 transition duration-300 ease-out rounded-xl;
}

.btn-theme {
  @apply fixed px-3 py-2 border -right-2 hover:bg-gray-900 hover:text-white dark:text-white hover:dark:bg-slate-700 rounded-xl top-36 border-stone-500 z-50;
}
